<!doctype html>
<html ng-app="app">
<head>
    <title>LightNode.Client.AngularJS.T4</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="light-node-client.js"></script>
    <script src="app.js"></script>
</head>
<body>
    <div main>
        <button type="button" ng-click="main.voidMethod()">voidMethod</button><br />
        <button type="button" ng-click="main.download()">download</button><br />
        <button type="button" ng-click="main.random()">random</button><br />
        <button type="button" ng-click="main.city()">city</button>
        <form name="myForm" novalidate>
            <label>
                timeout
                <input type="checkbox" name="isWait" ng-model="main.isBoolTest" />
            </label>
        </form>
        <ul>
            <li ng-repeat="log in main.logs track by $index">
                {{log}}
            </li>
        </ul>
    </div>
</body>
</html>