@{
    ViewBag.Title = "パスワードのリセットの確認";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        パスワードがリセットされました。@Html.ActionLink("ここをクリックしてログイン", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })してください
    </p>
</div>
